* {
  margin: 0;
  padding: 0;
}
h1 {
  /* text-align: center; */
  margin: 20px 20%;
}
div {
  background-color: rgb(184, 255, 240);
  display: inline-block;
  border: 1px solid grey;
  margin-left: 20%;
  font-size: small;
}
h2 {
  border: 1px solid grey;
  padding: 10px 5px;
}
.question {
  width: 250px;
}
.answer {
  margin-left: -20px;
  width: 36vw;
}
p {
  background-color: rgb(184, 255, 240);
  border: 1px solid grey;
  margin: 20px 512px 0px 20%;
  padding: 30px;
  border-radius: 15px;
  width: 50vw;
}
