* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    width: 100%;
    height: 60px;
    background-color: black;
}
.box {
    width: 280px;
    height: 227px;
    background-color: lightgray;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 15px 30px 15px;
}

.mainbox{
    margin: 30px 15px 30px 15px;
    text-align: center;
}

.bottom {
    width: 70%;
    height: 60px;
    background-color: rgb(229, 171, 206);
    border-radius: 10px;
    margin: 70px auto 0px;
}
